@keyframes move-chris {
    100% {
        transform: translate(45vw, 15vw);
    }
}

@keyframes turn-lois {
    10% {
        transform: rotateY(180);
    }
    50% {
        transform: rotateY(180);
    }
    60% {
        transform: rotateY(0);
    }
}

@keyframes move-stewie {
    10% {
        transform:
            translate(53vw, 29vw)
            rotateY(180);
    }
    100% {
        transform:
            translate(45vw, 29vw)
            rotateY(180);
    }
}

.chris {
    z-index: 1;
    transform: translate(53vw, 15vw);
    animation-name: move-chris;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.lois {
    z-index: 2;
    transform: translate(40vw, 12vw);
    animation-name: turn-lois;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-delay: 6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.stewie {
    z-index: 4;
    transform: translate(53vw, 29vw);
    animation-name: move-stewie;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-delay: 12s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.subtitle:has(.chris-quote) {
    animation-name: appear;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 1s;
}

.subtitle:has(.lois-quote) {
    animation-name: appear;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-delay: 6s;
}

.subtitle:has(.stewie-quote) {
    animation-name: appear;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-delay: 12s;
}

.peter {
    z-index: 6;
    transform: translate(17vw, 10vw);
}

.meg {
    z-index: 3;
    transform: translate(63vw, 18vw);
}

.brian {
    z-index: 5;
    transform: translate(62vw, 28vw);
}