:root {
	--bg-color: #120304;
	--bg-text: white;
	--main-color: #df2935;
	--main-text: white;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--bg-color);
	color: var(--bg-text);
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	padding: 3rem;
	text-align: center;
	color: var(--bg-text);
}

h1 {
	color: var(--main-color);
	text-transform: uppercase;
}

h2 {
    margin-bottom: 0.5rem;
}

main {
	flex-grow: 1;
	width: 95%;
	max-width: 1300px;
	margin-inline: auto;
}

section {
    margin-block: 1.5rem;
}

nav {
    background-color: var(--main-color);
    color: var(--main-text);
    padding: .5rem;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: center;
}

a {
    color: inherit;
    text-decoration: none;
    color: hsl(from var(--main-text) h s calc(l - 15));
    &:hover {
        color: var(--main-text);
    }
}

[class|="grid"] {
    display: grid;
    gap: 1rem;
}

.text-lg {
    font-size: 1.75rem;
}

.stat-card {
    background-color: var(--main-color);
    padding: 1rem .25rem;
    text-align: center;
}

.ticket-card {
    grid-column: span 3;
    padding: .25rem;
    h3 {
        color: var(--main-color);
        margin-bottom: .25rem;
    }
    .ticket-type {
        font-style: italic;
        margin-bottom: .25rem;
    }
    .ticket-price {
        font-size: 1.1em;
        padding: .25rem;
        font-weight: bold;
        background-color: var(--main-color);
        color: var(--main-text);
    }
}

.astrict::after {
	content: "*";
}

.double-astrict::after {
	content: "**";
}

[class|="flex"] {
    display: flex;
    gap: 1rem;
}

.flex-col {
    flex-direction: column;
}

.film-card {
    background-color: hsl(from var(--bg-color) h s calc(l + 5));
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.5rem;
    align-items: center;
    h3 {
        font-size: 1.5rem;
    }
    img {
        max-width: 100px;
    }
}

#other-films {
    margin-block: 1rem;
    gap: 0;
    justify-content: space-evenly;
    overflow: scroll;
    img {
        width: 100px;
    }
}

footer {
    background-color: var(--main-color);
    color: var(--main-text);
    text-align: center;
    padding: 2rem;
}

@media screen and (width >= 600px) {
	h1 {
		font-size: 3rem;
	}
    .grid-cols-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    .grid-cols-9{
        grid-template-columns: repeat(9, 1fr);
    }
    .grid-rows-4 {
        grid-template-rows: repeat(4, 1fr);
    }
    .grid-col {
        grid-auto-flow: column;
    }
    .film-card {
        h3 {
            font-size: 2rem;
        }
        img {
            max-width: 200px;
        }
    }
}
