@keyframes pulse {
    100% {
        transform: scale(1.05);
    }
}

.lois {
    z-index: 2;
    transform: translate(40vw, 12vw);
    animation-name: pulse;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: 10;
    animation-fill-mode: backwards;
}

.subtitle:has(.lois-quote) {
    animation-name: appear;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-delay: 2s;
}

.peter {
    z-index: 6;
    transform: translate(17vw, 10vw);
}

.chris {
    z-index: 1;
    transform: translate(53vw, 15vw);
}

.meg {
    z-index: 3;
    transform: translate(63vw, 18vw);
}

.brian {
    z-index: 5;
    transform: translate(62vw, 28vw);
}

.stewie {
    z-index: 4;
    transform: translate(53vw, 29vw);
}