body{
    background-color: #fde8d3;
}

header{    
    background-size: cover;
    height: 300px;
    background-image: url("../img/header_bg.jpg");
    background-position: center;
}

.navbar li{
    /* font-size: 30px; */
    font-size: 1.1rem;
    font-variant: small-caps;
    letter-spacing: 1.5px;
}

.navbar, footer{
    background-color: #fd8800;
}

h5{
    text-align: center;
}

h2{    
    background-color: rgba(255, 255, 255, 0.3);
    padding: 15px;
    border-top-width: 3px;
    border-left-width: 3px;
    border-top-style: dotted;
    border-left-style: dotted;
    border-top-color: #573718;
    border-left-color: #573718;
}

#focim{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #573718;
    font-weight: bold;
    text-transform: uppercase;
}