body{
    background-color: #96D49A;
}

div{
    background-color: white;
    width: 1330px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

#fejlec{
    display: block;
    background-image: url("fejleckep.png");
    color: white;
    text-align: center;
    font-size: 80px;
    height: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

nav{
    display: block;
    background-color: white;
    width: 300px;
    float: left;
}

.navblokk{
    background-color: #368369;
    width: 300px;
    margin-top: 25px;
}

#navmenu{
    margin: 10px;
    color: aquamarine;
}

h3{
    background-color: #203926;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    width: 300px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    line-height: 150%;
}

p{
    line-height: 150%;
    font-size: 13px;
    color: black;
    margin: 12px;
}

main{
    display: block;
    background-color: white;
    color: black;
    width: 700px;
    margin: 25px;
    float: left;
}

section{
    display: block;
    width: 700px;
    text-align: justify;
    margin-bottom: 30px;
    float: left;   
}

.tartalomkep{
    margin: 5px 20px 5px 0px;
    float: left;
}

article{
    display: block;
    width: 280px;
    float: left;
}

aside{
    display: block;
    width: 280px;
    float: left;
}

footer{
    display: block;
    background-color: #368369;
    color: white;
    font-size: 11px;
    text-align: center;
}