@media only screen and (max-width: 1000px){
    .bekezdes, #fejlec{
        margin-left: 8px;
        margin-right: 8px;
        margin-top: 4px;
        margin-bottom: 5px;
    }
    img{
        width: 10%;
        transition: all 0.8s ease;
    }
    h2{
        transition: all 0.8s ease;
    }
}

@media only screen and (max-width: 992px){
    body{
        background-repeat: repeat;
        background-size: 45%;
    }
    .bekezdes, #fejlec{
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 3px;
        margin-bottom: 5px;
    }
    h2{
        transition: all 0.5s ease;
    }
    img{
        transition: all 0.5s ease;
    }
}

@media only screen and (max-width: 768px){
    body{
        background-image: none;
        background-color: #ff905d;
    }
    img{
        width: 15%;
        border: none;
    }
    #elsokep, #harmadikkep{
        width: 10%;
        border: none;
        transition: none;
    }
    .bekezdes, #fejlec{
        transition: none;
    }
    h2{
        transition: none;
    }
    img{
        transition: none;
    }
}

@media only screen and (max-width: 600px){
    body{
        background-image: none;
    }
    img{
        display: none;
        visibility: hidden;
    }
    .bekezdes, #fejlec{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        transition: none;
    }
    #elsobekezdes, #masodikbekezdes{
        margin-right: 0px;
    }
    h2{
        transition: none;
    }
    img{
        transition: none;
    }
}

body{
    background-image: url('forras/kepek/bg.jpg');
    background-repeat: repeat;
    background-size: 25%;
}

#fejlec{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 8px;
    margin-bottom: 10px;
    background: -webkit-linear-gradient(to right, rgb(255, 55, 0), rgb(213, 94, 64),rgb(252, 160, 12));
    background: linear-gradient(to right, rgb(255, 55, 0), rgb(213, 94, 64),rgb(252, 160, 12));
}

#elsobekezdes, #masodikbekezdes{
    margin-right: 170px;
}

#elsokep{
    width: 20%;
    float: left;
}

#harmadikkep{
    width: 15%;
    float: left;
}

.bekezdes{
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    background: -webkit-linear-gradient(to right, rgb(244, 231, 1), rgb(238, 125, 26),rgb(255, 0, 0));
    background: linear-gradient(to right, rgb(244, 231, 1), rgb(238, 125, 26),rgb(255, 0, 0));
}

h1{
    font-size: 45px;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    margin: 2px;
    color: rgb(157, 255, 0);
    transition: all 1s ease;
}

h2{
    margin: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(94, 63, 0);
    text-shadow: #313030;
    -webkit-text-stroke: 2px, rgb(40, 0, 0);
    transition: all 1s ease;
}

h3{
    text-align: center;
    color: #fa773a;
    margin-top: 3px;
}

h6{
    text-align: center;
    font-style: italic;
    height: 10px;
    padding: 5px;
    border-radius: 10px;
    background-color: crimson;
}

p{
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}

aside{
    float: right;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 4px, 2px;
    border-color: brown;
    background: brown;
}

ul{
    list-style: square;
    list-style-type: georgian;
    font-size: 12px;
}

li{
    font-size: 13px;
    color: rgb(233, 108, 108);
    text-align: left;
    font-size: 15px;
}

img{
    float: right;
    margin: 5px;
    border-radius: 3.5px;
    border-color: #c800ff;
    border-style: solid;
    width: 25%;
    transition: all 1s ease;
}

a:link{
    text-decoration: underline;
    color: rgb(83, 255, 255);
    font-size: 13px;
}

a:visited{
    text-decoration: dotted;
    color: rgb(85, 255, 147);
    font-size: 13px;
}

a:active{
    text-decoration: none;
    color: #ee0000;
    font-size: 20px;
}

a:hover{
    text-decoration: double;
    color: rgb(255, 94, 0);
    font-size: 18px;
}

table {
    width: 95%;
    border-radius: 2px;
    border-style: solid;
    border-color: #b3adad;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table th {
    border-radius: 1px;
    border-style: solid;
    border-color: #670000;
    text-align: center;
    background: #ff905d;
    color: #313030;
}

table td {
    height: 90%;
    border-radius: 1px;
    border-style: solid;
    border-color: #d20000;
    text-align: center;
    background: #ffbc8d;
    color: #313030;
}