#LibreOffice (opening PDF files)
**.~lock.*

#For web projects (mainly npm Vite package & others)
node_modules/
.vite
**package-lock.json

#For C# projects

#Visual Studio
**/bin/
**/obj/
**/.vs/
#Rider
**/.idea/
#Rider (unit tests with MSTest)
**/TestResults/
**DotSettings.user

#PHP
**/vendor
**/out
**.composer.lock
