nav {
    position: relative;
    top: 0;
    background-color: rgba(219, 219, 219, 0.8);
    box-shadow: 0 2px 10px rgb(253, 251, 251);
    border-radius: 0 0 15px 15px;
    z-index: 1000;
    margin: 0 12%;
    font-family: Inter, sans-serif;
}

.nav--box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav--title {
    margin-right: 8%;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}

.nav--title:hover {
    color: #0056b3;
    transition: 0.3s;
}

.nav--collapse {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    height: auto;
}

.nav--list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav--item {
    /* space between the items */
    margin-right: 20px;
}

.nav--link {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    transition: 0.3s;
}

.nav--link:hover {
    color: #007bff;
    font-weight: 400;
    text-decoration: dotted;
    transition: 0.3s;
}

.nav--buttons {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.nav--button {
    background-color: #007bff;
    color: white;
    border-color: #ffffff00;
    border-style: solid;
    border-width: 2px;
    padding: 10px 15px;
    border: none;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav--button--disabled {
    background-color: #ffffff;
    color: black;
    border-color: #007bff;
    border-style: solid;
    border-width: 2px;
    padding: 10px 15px;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav--button:hover {
    color: white;
    background-color: #0056b3;
    cursor: crosshair;
    transition: 0.3s;
}

.nav--button--disabled:hover {
    color: black;
    background-color: #b4b4b4;
    cursor: crosshair;
    transition: 0.3s;
}

.nav--toggler {
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
}

.nav--toggler-icon {
    font-size: 1.5rem
}

@media screen and (max-width: 852px) {
    .nav--box {
        flex-wrap: wrap;
    }

    .nav--toggler {
        display: block;
    }

    .nav--collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(219, 219, 219, 0.95);
        z-index: 1001;
        box-shadow: 0 2px 10px rgb(253, 251, 251);
        border-radius: 15px;
        padding: 10px;
        flex-direction: column;
        align-items: flex-start;
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        
        margin-top: 20px;
    }

    .nav--collapse.show {
        max-height: 500px;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .nav--list {
        flex-direction: column;
        width: 100%;
    }

    .nav--item {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
    }

    .nav--link {
        display: block;
        padding: 10px 0;
    }
}