header {
    background-image: url("../img/scorpions-love-at-first.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    background-attachment: fixed;
}

main {
    width: 720px;
    color: #131213;
    background-color: #D6E1EE;
}

.navbar-brand {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: black;
    font-weight: 900;
    text-shadow: 2px 2px 4px #bb3333;
}

h1 {
    color: whitesmoke;
    background-color: #131213;
    height: 100px;
    border: 4px dotted burlywood;
    text-align: center;
    padding-top: 25px;
}

h2 {
    text-align: center;
    padding-top: 20px;
    background-color: #959CA5;
    height: 80px;
}

h3 {
    background-color: #959CA5;
    height: 80px;
    padding: 20px 20px;
    border-top: 4px double black;
    border-bottom: 4px double black;
    text-align: center;
}

p:nth-child(3) {
    font-size: large;
    color: blue;
    background-color: blanchedalmond;
}

p{
    text-align: justify;
    text-indent: 2em;
}

a {
    text-decoration: none;
    font-size: 20px
}

a:hover {
    color: orange;
}

footer {
    height: 200px;
    text-transform: uppercase;
}