# /etc/mysql/mariadb.conf.d/50-server.cnf  →  bind-address = 0.0.0.0
DB_HOST=host.docker.internal
DB_PORT=3306
DB_USER=username
DB_PASSWORD=password
DB_NAME=zutiClicker
SHADOW_DB_NAME=zutiClickerShadow # must exist and be empty, used by prisma migrate dev only

# Generate with:  openssl rand -hex 64
CRYPTO_SECRET_KEY=

# Get from Cloudflare dashboard
CLOUDFLARED_TOKEN=
