body {
    background-image: url("./images/butterfly_bg.jpg");
    background-size: 500px;
}

ol {
    width: 300px;
    /* vertical-align: middle; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ol > li {
    list-style-type: none;
}