body{
    background-color: #d2b385;
    background-repeat: no-repeat;
    background-image: url("forras/Liliomfi.jpg");
    background-position-x: 730px;
    background-position-y: 100px;
    background-size: 270px;
    font-family: Verdana;
    color: #e4d0a8;
}

#wrapper{
    width: 700px;
}

h1{
    background-color: #523710;
    color: #e4d0a8;;
    text-align: center;
    font-family: Georgia;
    font-variant: small-caps;
    font-stretch: 5px;
}

h2{
    color: #523710;
    background-color: #e4d0a8;;
    font-style: italic;
}

p, ul{
    text-align: justify;
    text-indent: 20px;
    color: black;
}

ul{
    
}

li{
    list-style: 35px;
}

#italic{
    font-style: italic;
}

#mariska{
    width: 700px;
}

a{
    text-decoration: none;
    color: red;
    font-style: bold;
}