body{
    width: 800px;
    background-color: #110917;
    color: white;
    margin-top: 200px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-image: url("fejlec.jpg");
    background-repeat: repeat-x;
    background-size: 200px;
}

p{
    line-height: 30px;
    font-size: 1.2rem;
}

a{
    color: orange;
}

img{
    width: 600px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    background-color: RGB(220,220,220);
    letter-spacing: 3px;
    text-align: center;
}

h3{
    color: #FF8;
    font-variant: small-caps;
    background-color: RGB(120 120 220 /0.4);
    padding-top: 8px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 5px;
    border-style: dotted;
    border-color: #007;
    letter-spacing: 2px;
}