IP=localhost
PORT=2710

DATABASE_URL="mysql://user:password@ip:port/dbName"
SHADOW_DATABASE_URL="mysql://user:password@ip:port/shadowDbName"

DATABASE_USER="user"
DATABASE_PASSWORD="password"
DATABASE_NAME="dbName"
DATABASE_HOST="ip"
DATABASE_PORT=port