body {
    margin: 0px;
    padding: 0px;
    background-color: #f5f5f5;
    color: #2c2c2c;
    font-family: Helvetica, sans-serif;
}

header {
    height: 26vw;
    min-height: 250px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 1rem;
}

header div {
    background-image: url("../images/ddwtd-logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: 1 1 50%;
}

.button {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: #3f3451;
    color: #ece8e7;
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: none;
}

.button:hover {
    background-color: rgb(from #3f3451 83 g b);
}

article {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
}

p {
    font-size: 1rem;
    text-align: justify;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    line-height: 1.4rem;
}

article:first-of-type {
    background-color: #b1e2be;
    overflow: hidden;
}

article:first-of-type img {
    width: fit-content;
}

.characters {
    font-style: italic;
}

.cuphead, .mugman {
    color: rgb(255, 255, 255);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 5px;
}

.cuphead {
    background-color: #db1b26;
}

.mugman {
    background-color: #3577be;
}

article:nth-of-type(3) {
    background-color: #3577be;
    color: #ece8e7;
}

article:nth-of-type(3) img {
    float: right;
    width: 30%;
    min-width: 200px;
    max-width: 260px;
}

article:nth-of-type(3) h2 {
    background-color: #ffcf10;
}

#buttons {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
}

.hide {
    display: none;
}

.levels-button {
    background-color: rgb(from #ffcf10 r calc(g - 50) calc(b - 50));
    flex-grow: 1;
    padding: 1rem;
    color: #2c2c2c;
    font-weight: bold;
    align-content: center;
    justify-content: center;
    text-decoration: none;
}

.levels-button:hover, .levels-button:hover.selected {
    background-color: #2c2c2c;
    color: #ece8e7;
}

.levels-button.selected {
    flex-grow: 3;
}

.levels-data {
    border-width: 0.5rem;
    border-style: solid;
    border-color: #2c2c2c;
}

table {
    table-layout: auto;
    width: 100%;
    text-align: center;
    caption-side: bottom;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-style: italic;
    border-collapse: collapse;
    border-width: 3px;
    border-style: solid;
    border-color: #2c2c2c;
    overflow: hidden;
}

thead {
    background-color: #2c2c2c;
    color: #ece8e7;
}

td, th {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding: 0.2rem;
}

td:first-of-type {
    font-weight: bold;
}

td:nth-of-type(3) {
    font-style: italic;
}

tr:nth-child(odd) {
    background-color: rgb(from #ffcf10 r g 150);
}

tr:nth-child(even) {
    background-color: rgb(from #ffcf10 r g 100);
}

tr img {
    width: 100%;
    max-width: 150px;
    transition: 0.2s;
}

tr img:hover {
    width: 110%;
    transition: 0.2s;
}

.hide-cell {
    display: none;
}

@media screen and (min-width: 640px) {
    table {
        table-layout: fixed;    
    }

    .hide-cell {
        display: table-cell;
    }

    article:first-of-type img {
        width: 30%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}