header{
    height: 400px;
    background-image: url(./images/fejlec.png);
    background-size: cover;
    background-position-x: center;
    background-position-y: 0;
}

body{
    background-color: #DDE6ED;
}

.navbar, footer{
    background-color: #526D82;
}

.nav-link {
    font-size: 115%;
}

h1,h2{
    color: #526d82;
    background-color: rgba(157, 178, 191, 0.3);
    padding: 5px;
    border-bottom-width: 3px;
    border-right-width: 3px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-style: solid;
    border-color: rgb(157, 178, 191);
}

#intro {
    font-variant: small-caps;
}

h2 {
    padding-top: 20px;
    padding-bottom: 10px;
}

h5{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

p {
    text-align: justify;
}

.jelentosege {    
    background-color: rgba(255,255,255,0.4);
    box-shadow: 3px 3px 15px black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.jelentosege  h3 {
    font-size: 1.2rem;
}

.link{
    color: #526d82;
    padding: 5px;
}

.link:hover{
    background-color: rgb(157, 178, 191);
}