body{
    background-color: #0b5c85;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 30px;
}

header{
    height: 250px;
    background-image: url("../img/cimhatter.jpg");
    background-position-y: center;
    background-size: cover;
}

h1{
    padding-top: 180px;
    padding-right: 30px;
    text-align: right;
    color: lavender;
    font-size: 5rem;
    letter-spacing: 5px;
    font-variant: small-caps;
    text-shadow: 3px 3px 5px black;
}

main{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(1, 34, 50, 0.80);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

p{
    text-align: justify;
    text-indent: 15px;
}

h2{
    text-transform: uppercase;
}

.hangsuly{
    font-style: italic;
    color: #0b5c85;
    font-size: 1.2rem;
}

.keret{
    float: right;
    width: 350px;
    border-bottom-color: white;
    border-bottom-width: 5px;
    margin-left: 25px;
}

li{
    list-style-image: url("../img/kekturajelzes.png");
}

table{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

td{
    padding: 20px;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-width: 3px;
    border-bottom-style: inset;
}

thead{
    background-color: rgba(230, 230, 250, 0.7);
    font-style: italic;
    font-size: 1.2rem;
    color: rgba(1, 34, 50, 0.80);
    /*a feladat nem írta hogy mekkorának kellene lennie a headernek, de a mintán nagyobb az alapnál...*/
    height: 75px;
}

th{
    border-bottom-style: double;
    border-bottom-width: 5px;
    border-bottom-color: white;
}

b{
    font-size: 1.2rem;
}

img{
    width: 75px;
}

a{
    text-decoration: none;
}

a:visited{
    color: #0b5c85;
}

#utolso_bekezdes{
    text-align: right;
    font-style: italic;
    font-size: 0.8rem;
}