body{
    background-image: url("../img/background/keith-misner-h0Vxgz5tyXA-unsplash.jpg");   
    color: #4d0808;
}

#kutyaoldal{
    background-color: rgba(255, 255, 255, 0.4);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 20px;
}

a{
    color: #4d0808;
}

h1{
    text-align: center;
}

p{
    line-height: 1.5rem;
    text-indent: 1cm;
}

.minikep{
    float: right;
    width: 400px;
    margin-left: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: #4d0808;
}

table, tr, td{
    border-width: 1px;
    border-style: solid;
    border-color: #aa7777;
    border-collapse: collapse; /*összevont szegélyek*/
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
}

.kepek{
    text-align: center;
    float: none;
}

.kep{
    width: 280px;
    vertical-align: middle;
    background-color: white;
    padding: 10px;
    margin: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #4d0808;
    box-shadow: 3px 3px 10px #4d0808;
}