body{
    background-image: url("../img/bg.jpg");
    scroll-behavior: auto;
    background-color: #ffd51f;
}

.container{
    background-color: rgba(255, 255, 255, 0.85);
}

h1{
    text-align: center;
    text-shadow: yellow 2px 2px;
}

h2{
    font-size: 1.5rem;
    text-align: center;
}

p{
    text-align: justify;
    text-indent: 0.5cm;
}

.img-thumbnail{
    box-shadow: 1px 1px 5px black;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn{
    color: #625432;
    border-color: #625432;
}

.btn:hover{
    background-color: #625432;
    color: rgb(255, 255, 255);
}

.szereplo:nth-of-type(1) h2{
    color: #ff66ff;
}

.szereplo:nth-of-type(2) h2{
    color: #a6c148;
}

.szereplo:nth-of-type(3) h2{
    color: #009ddc;
}

.szereplo:nth-of-type(4) h2{
    color: #f05e2b;
}