body{
    background-color: #FAFAD2;
    font-family: Verdana, Helvetica, Tahoma, sans-serif;
    size: 0.8rem;
    align-items: center;
    /* text-align: center;*/
    background-image: url("Matyas_Graduale.jpg");
    background-repeat: no-repeat;
    background-size: 8%;
    background-position-x: 99%;
    background-position-y: 20%;
    background-attachment: fixed;
}

h1{
    text-align: center;
    font-variant: small-caps;
    color: #A0522D;
    background-color: rgb(0 255 0 /0.2);
    font-size: 2.5rem;
}

figure{
    width: 20%;
    border-width: 1px;
    border-color: #CCCCCC;
    border-style: inset;
    padding: 10px;
    float: right;
    clear: both;
}

figure img{
    width: 100%;
    height: auto;
}

figcaption{
    background-color: black;
    color: white;
    text-align: center;
    font-style: italic;
    padding: 2px;
}

h3{
    color: #A0522D;
    font-size: 1.5rem;
    text-indent: 50px;
}

p{
    text-align: justify;
}

li{
    text-align: justify;
    font-style: italic;
    list-style-type: square;
}