@keyframes move {
    100% {
        transform:
            translateX(20vw)
            translateY(15vw)
    }
}

@keyframes explode {
    100% {
        transform:
            scale(1)
            translate(-120%, 15vw)
    }
}

.boat {
    z-index: 2;
    transform:
        translate(-120%, 15vw)
        rotateY(180);
    animation-name: move;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.explosion {
    z-index: 3;
    transform: translate(10vw, 4vw) scale(0);
    animation-name: explode;
    animation-duration: 0.1;
    animation-timing-function: linear;
    animation-delay: 1.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.subtitle {
    animation-name: appear;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 1.3s;
}