body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
    background-color: #333333;
    text-align: justify;
}

header {
    height: 15vw;
    background-color: #1A1A1A;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    text-align: center;
    background-color: #0A0A0A;
    padding: 15px;
}

nav > a {
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #0A0A0A;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: #FFD700;
    border-radius: 5px;
}

h1 {
    font-size: 8vw;
    text-shadow: 2px 2px 5px orange;
}

h2 {
    text-decoration: underline;
    font-style: italic;
}

h1, h2 {
    color: #FFD700;
}

p {
    text-indent: 15px;
}

p:first-of-type {
    font-weight: bold;
}

.history-image-video {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 500px;
    height: auto;
    box-shadow: 2px 2px 3px orange;
}

.logo_img {
    width: 30px;
}

table {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    background-color: #1A1A1A;
    color: #FFFFFF;
}

td:nth-child(3) {
    background-color: #444444;
}

thead, tfoot {
    background-color: #333333;
}

td, th {
    border-style: solid;
    border-color: #555555;
    padding: 1vw;
    text-align: center;
}

td:nth-child(2) {
    text-align: left;
}

caption {
    caption-side: bottom;
    margin-top: 10px;
    text-align: left;
    font-variant: small-caps;
}

a {
    text-decoration: none;
    color: #FFD700;
}

.emoji_link::after {
    content: "🔗";
}

a:hover {
    color: yellowgreen;
}

a:active {
    color: orange;
}

p > strong > a {
    color: violet;
}

p > strong > a:hover {
    color: palevioletred;
}

p > strong > a:active {
    color: pink;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #1A1A1A;
    color: #FFFFFF;
}