@font-face {
    font-family: 'Wiener Merlange';
    src: url('../fonts/wiener_melange.woff');
}

@font-face {
    font-family: 'Lucida Sans Unicode';
    src: url('../fonts/lucidasansunicode.woff');
}