*{
    margin: 0px;
    background-color: #67bbf3;
}

#fejlec{
    height: 450px;
    background-image: url("../img/vin-diesel-halalos-iramban.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    /* background-position-x: 0px; */
    border-bottom-color:  #6495ed;
    border-bottom-width: 10px;
    border-bottom-style: solid;
}

#main{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1{
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #539ad4;
    text-align: left;
    padding-left: 15px;   
}

p, li{
    text-align: left;
    line-height: 20px;
    color: #70088a;
}

#main>table{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    padding: 0;
}

td, th{
    border-width: 2px;
    border-color: black;
    border-style: solid;
    margin: 10px;
    text-align: center;
    vertical-align: middle;
}

th{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant: small-caps;
    background-color: #539ad4;
}

p:first-of-type{
    text-align: justify;
    font-style: italic;
    margin-top: 20px;
}

tr:nth-child(odd){
    font-weight: bold;
}

p:nth-child(3){
    color: darkblue;
    font-variant: small-caps;
}

p:last-of-type{
    text-align: right;
    font-style: initial;
    margin-bottom: 40px;
}

#kep{
    width: 150px;
    float: left;
}

#kepalairas{
    text-align: center;    
    float: left;
    font-style: italic;
    font-size: smaller;
}

p > span{
    color: darkred;
    font-weight: bold;
}

ul li {
    list-style-image: url("../img/car.png");
    text-align: left;
    text-transform: uppercase;
}

#forras{
    text-decoration: none;
}

#forras:link{
    font-weight: bold;
}

#forras:hover{
    background-color: rgba(255, 255, 255, 0.7);
    font-weight: 2px;
    border-width: 2px;
    border-style: solid;
    border-color: orange;
}

#forras:visited{
    color: rgba(255, 165, 0, 0.6);
}